<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModuloContabilidad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModuloContabilidad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModuloContabilidad.Properties.Settings>
            <setting name="CUENTADEFAULT" serializeAs="String">
                <value>5720001</value>
            </setting>
            <setting name="ASIENTOSIMPLE_WINDOWED" serializeAs="String">
                <value>False</value>
            </setting>
        </ModuloContabilidad.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ModuloContabilidad.Properties.Settings>
            <setting name="SELECTDIARIO" serializeAs="String">
                <value>SELECT * FROM</value>
            </setting>
            <setting name="ORDERDIARIO" serializeAs="String">
                <value>ORDER BY NApunte</value>
            </setting>
            <setting name="SELECTMAYOR" serializeAs="String">
                <value>SELECT * FROM</value>
            </setting>
            <setting name="ORDERMAYOR" serializeAs="String">
                <value>ORDER BY NAsiento, Fecha, FechaValor</value>
            </setting>
        </ModuloContabilidad.Properties.Settings>
    </applicationSettings>
</configuration>