<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="GlobalSettings.MensajesErrorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GlobalSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GlobalSettings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="GlobalSettings.Properties.ContabilidadSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GlobalSettings.ContabilidadSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GlobalSettings.Properties.MensajesErrorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GlobalSettings.MensajesErrorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GlobalSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GlobalSettings.Properties.Settings.conta1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=e:\AdConta\AdConta\AdConta\conta1.mdf;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        
        <GlobalSettings.MensajesErrorSettings>
            <setting name="MENSAJESERROR_CUERPO_BD_TIMEOUT" serializeAs="String">
                <value>No se pudo conectar con la base de datos. El tiempo de espera para la conexión superó el límite.</value>
            </setting>
        </GlobalSettings.MensajesErrorSettings>
        <GlobalSettings.Properties.Settings>
            <setting name="DIGITOSCUENTAS" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MINCODCUENTAS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAXCODCUENTAS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USERFONTSIZE" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="CUENTADEFAULT" serializeAs="String">
                <value>5720001</value>
            </setting>
            <setting name="ASIENTOSIMPLE_WINDOWED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NOMBRECUENTADEFAULT" serializeAs="String">
                <value>Banco</value>
            </setting>
            <setting name="ULTIMACUENTAMAYOR" serializeAs="String">
                <value />
            </setting>
        </GlobalSettings.Properties.Settings>
        <GlobalSettings.Settings1>
            <setting name="test" serializeAs="String">
                <value>test</value>
            </setting>
        </GlobalSettings.Settings1>
    </userSettings>
    <applicationSettings>
        
        <GlobalSettings.Properties.ContabilidadSettings>
            <setting name="MENSAJESERROR_ASIENTO_ERRORALGUARDARASIENTO" serializeAs="String">
                <value>¿Desea cancelar el asiento (el asiento se borrará y perderá toda la información) o volver a la ventana sin guardar el asiento?</value>
            </setting>
            <setting name="MENSAJESCONFIRMACION_ASIENTO_CONFIRMACIONCERRARASIENTOSINGUARDAR"
                serializeAs="String">
                <value>El asiento no se ha guardado, si cierra esta pestaña perderá los cambios que haya realizado hasta ahora. ¿Quiere cerrar esta pestaña de todas formas?</value>
            </setting>
            <setting name="MENSAJESCONFIRMACION_ASIENTO_CONFIRMACIONSIMPLEACOMPLEJO"
                serializeAs="String">
                <value>Parece que no está haciendo un Asiento Simple. ¿Desea completar el asiento en la vista de Asiento Complejo?</value>
            </setting>
            <setting name="MENSAJESERROR_ASIENTO_LETRASENCELDAIMPORTE" serializeAs="String">
                <value>Aquí debe introducir un importe numérico, no puede escribir letras o símbolos salvo coma (,) o punto (.) para separar los decimales.</value>
            </setting>
            <setting name="MENSAJESERROR_ASIENTO_ASIENTOCERRADO" serializeAs="String">
                <value>Este asiento no se puede modificar por que la contabilidad está cerrada.</value>
            </setting>
        </GlobalSettings.Properties.ContabilidadSettings>
        <GlobalSettings.ContabilidadSettings>
            <setting name="MENSAJESERROR_ASIENTO_ERRORALGUARDARASIENTO" serializeAs="String">
                <value>¿Desea cancelar el asiento (el asiento se borrará y perderá toda la información) o volver a la ventana sin guardar el asiento?</value>
            </setting>
        </GlobalSettings.ContabilidadSettings>
        <GlobalSettings.Properties.MensajesErrorSettings>
            <setting name="MENSAJESERROR_TITULO_ERRORENBASEDEDATOS" serializeAs="String">
                <value>Ha habido un error al intentar conectar con la base de datos:</value>
            </setting>
            <setting name="MENSAJESERROR_CUERPO_BD_TIMEOUT" serializeAs="String">
                <value>No se pudo conectar con la base de datos. El tiempo de espera para la conexión superó el límite.</value>
            </setting>
        </GlobalSettings.Properties.MensajesErrorSettings>
        <GlobalSettings.MensajesErrorSettings>
            <setting name="MENSAJESERROR_TITULO_ERRORENBASEDEDATOS" serializeAs="String">
                <value>Ha habido un error al intentar conectar con la base de datos:</value>
            </setting>
        </GlobalSettings.MensajesErrorSettings>
        <GlobalSettings.Properties.Settings>
            <setting name="SELECTCDADES" serializeAs="String">
                <value>SELECT * FROM Cdades</value>
            </setting>
            <setting name="SELECTDIARIO" serializeAs="String">
                <value>SELECT * FROM</value>
            </setting>
            <setting name="ORDERDIARIO" serializeAs="String">
                <value>ORDER BY NApunte</value>
            </setting>
            <setting name="SELECTMAYOR" serializeAs="String">
                <value>SELECT * FROM</value>
            </setting>
            <setting name="ORDERMAYOR" serializeAs="String">
                <value>ORDER BY NAsiento, Fecha, FechaValor</value>
            </setting>
            <setting name="WHERECDADES_NOBAJA" serializeAs="String">
                <value>WHERE Baja=0</value>
            </setting>
            <setting name="SELECTPROPS" serializeAs="String">
                <value>SELECT * FROM Props</value>
            </setting>
            <setting name="ORDERPROPS" serializeAs="String">
                <value>ORDER BY Dni</value>
            </setting>
            <setting name="ORDERCDADES" serializeAs="String">
                <value>ORDER BY Codigo</value>
            </setting>
            <setting name="NOMBREAPPINTERNO" serializeAs="String">
                <value>AdminConta</value>
            </setting>
        </GlobalSettings.Properties.Settings>
    </applicationSettings>
</configuration>