<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GlobalSettings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GlobalSettings.Properties.Settings.conta1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=e:\AdConta\AdConta\AdConta\conta1.mdf;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GlobalSettings.Properties.Settings>
            <setting name="DIGITOSCUENTAS" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MINCODCUENTAS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAXCODCUENTAS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USERFONTSIZE" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="CUENTADEFAULT" serializeAs="String">
                <value>5720001</value>
            </setting>
            <setting name="ASIENTOSIMPLE_WINDOWED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NOMBRECUENTADEFAULT" serializeAs="String">
                <value>Banco</value>
            </setting>
        </GlobalSettings.Properties.Settings>
        <GlobalSettings.Settings1>
            <setting name="test" serializeAs="String">
                <value>test</value>
            </setting>
        </GlobalSettings.Settings1>
    </userSettings>
    <applicationSettings>
        <GlobalSettings.Properties.Settings>
            <setting name="SELECTCDADES" serializeAs="String">
                <value>SELECT * FROM Cdades</value>
            </setting>
            <setting name="SELECTDIARIO" serializeAs="String">
                <value>SELECT * FROM</value>
            </setting>
            <setting name="ORDERDIARIO" serializeAs="String">
                <value>ORDER BY NApunte</value>
            </setting>
            <setting name="SELECTMAYOR" serializeAs="String">
                <value>SELECT * FROM</value>
            </setting>
            <setting name="ORDERMAYOR" serializeAs="String">
                <value>ORDER BY NAsiento, Fecha, FechaValor</value>
            </setting>
            <setting name="WHERECDADES_NOBAJA" serializeAs="String">
                <value>WHERE Baja=0</value>
            </setting>
            <setting name="SELECTPROPS" serializeAs="String">
                <value>SELECT * FROM Props</value>
            </setting>
            <setting name="ORDERPROPS" serializeAs="String">
                <value>ORDER BY Dni</value>
            </setting>
            <setting name="ORDERCDADES" serializeAs="String">
                <value>ORDER BY Codigo</value>
            </setting>
        </GlobalSettings.Properties.Settings>
    </applicationSettings>
</configuration>