<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Models.Properties.Settings.conta1ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\conta1.mdf;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
    <applicationSettings>
        <Models.Properties.Settings>
            <setting name="SELECTPROPS" serializeAs="String">
                <value>SELECT * FROM Props</value>
            </setting>
            <setting name="ORDERPROPS" serializeAs="String">
                <value>ORDER BY Dni</value>
            </setting>
        </Models.Properties.Settings>
    </applicationSettings>
</configuration>